@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-image: url('../images/bg.jpg');
	margin:0;
	padding:0;
}

#main_container {
	display: flex;
}

img
{
    width: 2.5em;
	height: 2.5em;
	margin-left: 10px;
	margin-top: 10px;
}

*{
	box-sizing: border-box;
	font-family: "Dayrom" "Arial" sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
	font-size: 20px;
}

.quiz_container{
	height: 450px;
	width: 800px;
	background-color: white;
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
}

.quiz_container .question{
	padding: 10px;
	background-color:#ffcc00;
	border-radius: 8px;
	color:#000;
	font-size:16px;
	font-family: "Dayrom", Arial, sans-serif;
	float: left;
	width: 100%;

}
.quiz_container .options{
	float: left;
	width: 100%;
}

.quiz_container .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_container .options ul li{
	display: inline-block;
	background-color:#000;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color:#ffffff;
	box-shadow: 0px 3px 0px #000000;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_container .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}
.quiz_container .options ul li.correct{
	background-color: #00695c;
	box-shadow: 0px 3px 0px #00695c;
}

.quiz_container .options ul li.wrong{
	background-color: #cb0b0b;
	box-shadow: 0px 3px 0px #cb0b0b;
}

.quiz_container .score{
	float: left;
	width: 100%;
	padding:25px 0px;
}

.quiz_container .score .next{
	width: 35%;
	float: left;
}

.quiz_container .score .button_reponse {
	width: 35%;
	float: left;
}

.quiz_container .score .button_reponse button{
	padding: 15px 50px;
	color:white;
	background-color:#0d47a1;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 0px #0d47a1;
	outline: none;
}

.quiz_container .score .next button{
	padding: 15px 50px;
	color:white;
	background-color:#0d47a1;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 0px #0d47a1;
	outline: none;
}
.quiz_container .score .button_reponse button:active{
box-shadow: 0px 3px 0px transparent;	
}

.quiz_container .score .next button:active{
	box-shadow: 0px 3px 0px transparent;	
	}

.quiz_container .score .score-card{
	width: 30%;
	float: left;
}
.quiz_container .score .score-card{
	font-size: 20px;
	color:black;
	line-height: 50px;
	text-transform: uppercase;
}
.quiz_container .score .score-card span{
	background-color: #ffcc00;
	font-family: "BallparkWeiner", "Arial", sans-serif;
	padding: 5px 20px;
	border-radius: 8px;
	color:black;

}

aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
	height: 300px;
	margin:50px auto;
	/*background-color: #bdbdbd;*/
}

.base-timer {
	position: relative;
	width: 200px;
	height: 200px;
}
  
.base-timer__svg {
	transform: scaleX(-1);
}
  
.base-timer__circle {
	fill: none;
	stroke: none;
}
  
.base-timer__path-elapsed {
	stroke-width: 7px;
	stroke: grey;
}
  
.base-timer__path-remaining {
	stroke-width: 7px;
	stroke-linecap: round;
	transform: rotate(90deg);
	transform-origin: center;
	transition: 1s linear all;
	fill-rule: nonzero;
	stroke: currentColor;
}
  
.base-timer__path-remaining.green {
	color: rgb(255, 23, 68);
}
  
.base-timer__path-remaining.orange {
	color: orange;
}
  
.base-timer__path-remaining.red {
	color: red;
}
  
.base-timer__label {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 38px;
	color: white;
}

#timeOverMessage {
	width: 100px;
	height: 40px;
	border: 2px solid black;
	border-radius: 8px;
	text-align: center;
	background-color: white;
	color: black;
	font-family: "Dayrom", Arial, sans-serif;
	font-size: 20px;
}

#answerBox {
	display: flex;
	width: auto;
	height: auto;
	margin: 10px auto;
	padding: 15px;
	background-color: #00695c;
	border: 2px solid black;
	border-radius: 5px;
	flex-wrap: wrap;
	color: white;
}

#chrono
{
    font-family: "Dayrom", "Arial", sans-serif;
    font-size: 5em;
    color: #ff1744;
}

.labelAnswer{
    font-family: "Dayrom", "Arial", sans-serif;
}